@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;600;700&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: "Red Hat Text", ui-sans-serif, system-ui;

    --color-brand-red: hsl(14, 86%, 42%);
    --color-brand-green: hsl(159, 69%, 38%);

    --color-rose-50: hsl(20, 50%, 98%);
    --color-rose-100: hsl(13, 31%, 94%);
    --color-rose-300: hsl(14, 25%, 72%);
    --color-rose-400: hsl(7, 20%, 60%);
    --color-rose-500: hsl(12, 20%, 44%);
    --color-rose-900: hsl(14, 65%, 9%);
}

@layer base {
    body {
        @apply font-sans text-[16px] bg-rose-50 text-rose-900 antialiased;
    }

    h1, h2, h3 {
        @apply font-bold;
    }

    img {
        @apply object-cover w-full block
    }
}

.scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.scrollbar-none::-webkit-scrollbar {
    display: none;
}
